<div>
    <div class="help new">
        <input type="checkbox" id='help0'>
        <label for="help0">Обновления!</label>
        <div>
            <p>
                Если вы в прошлый раз прочли правила, то читать их не надо. Можете просто прочесть этот раздел и все.
            </p>
            <p>
                <strong>Изменение №1.</strong> Конкурс начнется 6 января. Итоги будут 8 вечером.
            </p>      
            <p>
                <strong>Изменение №2.</strong> Убрана рулетка.
            </p>            
            <p>
                <strong>Изменение №3.</strong> Теперь каждый пользователь может оставить только 1 отзыв.
            </p>               
            <p>
                <strong>Изменение №4.</strong> Так же одно изменение произошло в разделе "Кто получит призы?". Ранее было так:
            </p>        
            <p class="citate">       
                если ни одна девочка не окажется ни на 1, ни на 2, ни на 3 месте (последнее место не считается), то игрок, 
                который окажется на 3 позиции приз не получит, а его получит та девочка, которая набрала большее количество очков
            </p>
            <p>А теперь так:</p>
            <p class="citate">
                если ни одна девочка не окажется ни на 1, ни на 2, ни на 3 месте, ни на последнем месте, то игрок, 
                который окажется на 3 позиции приз не получит, а его получит та девочка, которая набрала большее количество очков
            </p>
            <p>
                <strong>Изменение №5.</strong> Теперь каждый приз можно выбирать только один раз. К примеру, если кто-то выберет "Плитка хорошего шоколад.",
                то другой участник его выбрать уже не сможет
            </p>
        </div>
    </div>    
    <div class="help">
        <input type="checkbox" id='help1'>
        <label for="help1">Когда стартует конкурс и его длительность</label>
        <div>
            <p>
                Конкурс стартует 18-19 декабря. Подведение итогов будет, наверно, 21 (20) декабря примерно в 9 часов вечера.
            </p>
        </div>
    </div>
    <div class="help">
        <input type="checkbox" id='help2'>
        <label for="help2">Суть конкурса</label>
        <div> 
            <p>Суть состоит в том, чтоб набрать максимальное количество баллов.</p>  
        </div>
    </div> 
    <div class="help">
        <input type="checkbox" id='help3'>
        <label for="help3">Некоторый правила о проведение</label>
        <div>
            <p>
                После того, как стартует конкурс, в разделе "Главная" появятся игры, в которые надо играть, чтобы набирать баллы.
                Играть можно ограниченное количество раз (подробности позже), а о подсчете баллов будет сказано далее.
            </p>
        </div>
    </div>     
    <div class="help">
        <input type="checkbox" id='help4'>
        <label for="help4">Кто получит призы</label>
        <div>
            <p>Игроки, которые будут на первом и втором местах, получат свой приз сразу, а о третьем месте поговорим позже.</p>      
            <p>
                Тот участник, который окажется на последнем месте получит утешительный приз. Однако не берутся в учет участники 
                у которых 0 баллов. К примеру, если будет такая ситуация:  
            </p>
            <table width="100%" border='2'>
                <tr>
                    <th class="position">Позиция</th>
                    <th class="player">Участник</th>
                    <th class="ball">Балл</th>
                </tr>            
                <tr class="s">
                    <td>1</td>
                    <td>Игрок 1</td>
                    <td>22</td>
                </tr>            
                <tr>
                    <td>2</td>
                    <td>Игрок 2</td>
                    <td>18</td>
                </tr>            
                <tr>
                    <td>3</td>
                    <td>Игрок 3</td>
                    <td>15</td>
                </tr>            
                <tr>
                    <td>4</td>
                    <td>Игрок 4</td>
                    <td>10</td>
                </tr>            
                <tr>
                    <td>5</td>
                    <td>Игрок 5</td>
                    <td>8</td>
                </tr>                        
                <tr>
                    <td>6</td>
                    <td>Игрок 6</td>
                    <td>0</td>
                </tr> 
                <tr>
                    <td>7</td>
                    <td>Игрок 7</td>
                    <td>0</td>
                </tr>
            </table>
            <p>
                Тут <strong>"Игрок 1"</strong> и <strong>"Игрок 2"</strong> получат приз автоматически, а <strong>"Игрок 3"</strong> мы пока
                говорить не будем. У <strong>игроков 6 и 7</strong> по нуль очков, стало быть утешительный приз получит 
                <strong>"Игрок 5"</strong>.
            </p>
            <p>
                Теперь разберемся с <strong>"Игрок 3"</strong>. Я хочу, чтоб приз получили как мальчики, так и девочки, поэтому 
                сделаем следующее: если ни одна девочка не окажется ни на 1, ни на 2, ни на 3 месте (последнее место не считается), то игрок, 
                который окажется на 3 позиции приз не получит, а его получит та девочка, которая набрала большее количество очков. Например:
            </p>
            <table class='table' width="100%" border='2'>
                <tr>
                    <th class="position">Позиция</th>
                    <th class="player">Участник</th>
                    <th class="ball">Балл</th>
                </tr>            
                <tr class="s">
                    <td>1</td>
                    <td>Мальчик 1</td>
                    <td>22</td>
                </tr>            
                <tr>
                    <td>2</td>
                    <td>Мальчик 2</td>
                    <td>18</td>
                </tr>            
                <tr>
                    <td>3</td>
                    <td>Мальчик 3</td>
                    <td>15</td>
                </tr>            
                <tr>
                    <td>4</td>
                    <td>Мальчик 4</td>
                    <td>10</td>
                </tr>            
                <tr>
                    <td>5</td>
                    <td>Девочка 5</td>
                    <td>8</td>
                </tr>                        
                <tr>
                    <td>6</td>
                    <td>Девочка 6</td>
                    <td>5</td>
                </tr> 
                <tr>
                    <td>7</td>
                    <td>Мальчик 7</td>
                    <td>3</td>
                </tr>            
                <tr>
                    <td>8</td>
                    <td>Мальчик 8</td>
                    <td>0</td>
                </tr>
            </table>
            <p>
                Как видно, тут ни одна девочка свой приз не получает, т.к. не все призовые места (они отмечены зеленым) заняты.
                Поэтому в данной ситуации <strong>"Мальчик 3"</strong> приз не получает, а его получается <strong>"Девочка 5"</strong>,
                т.к. среди девочек она набрала наивысшее кол-во баллов.
            </p>
            <p>
                Если между кем-то возникнет <strong>ничья</strong> (одинаковое кол-во очков), то выше будет тот, кто первее зарегистрировался.
            </p>
        </div>
    </div>     
    <div class="help">
        <input type="checkbox" id='help5'>
        <label for="help5">Как получить сертификат?</label>
        <div>
            <p>
                Игрок, который будет на первом месте получит сертификат (который нафиг никому не сдался). Для этого надо перейти
                в раздел "Таблица", и справа сверху "Увидеть список победителей". Когда выявятся победители, человеку занявшему 
                первое место, необходимо будет нажать на свое имя (оно будет подчеркнуто) и ввести пароль, после чего сертификат скачается.
            </p>      
        </div>
    </div>        
    <div class="help mb-20">
        <input type="checkbox" id='help6'>
        <label for="help6">Подсчет баллов</label>
        <div>
            <p>
                Для каждой игры, своя формула подсчета баллов, которую вы можете найти в разделе "Помощь" в каждой игре. Тут же все это
                собрано воедино.
            </p>
            <p><strong>Кликер:</strong></p>
            <p class="formula">
                Вы ограничены одной сотней игр. Количество кликов за раунд, которые вы набрали, поделится на 2 и округлится. Таким образом и будет 
                находится балл. 
            </p>                  
            <p><strong>Викторина:</strong></p>
            <p class="formula">
                У вас есть тесты по каждому предмету. За каждый предмет вы можете получить максимально 100 баллов. Каждый правильный вам дает по 10 баллов, 
                а каждый неправильный отнимает по 3.
            </p>
            <p class="formula">
                Максимальный балл за это задание - 600
            </p> 
            <p><strong>Рулетка:</strong></p>
            <p class="formula">
                Вы можете нажать на "Рулетку" и выиграть рандомное количество очков (от 10 до 200). Рулетка будет доступна не всегда, а 
                только несколько раз в день, поэтому стоит чаще проверять, чтоб не пропустить.
            </p>
        </div>
    </div>
</div>