select {
    width: 100%;
    height: 28px;
}

.registration__input {
    width: calc(100% - 8px);
    height: 24px;
    margin-bottom: 5px;
}

.registr {
    width: 350px;
    text-align: center;

    @media (max-width: 480px) {
        width: 280px;
    }

    img{
        width: 150px;
        height: 150px;
        border: 1px solid;
        border-radius: 50%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        object-fit: cover;
    }
}

.registr__image {
    margin-bottom: 30px;
}

.warning {
    font-size: 14px;
    color: red;
    margin: 5px 0 10px 0
}

p {
    text-align: left;
    margin-bottom: 4px;
}

.code {
    position: relative;
    display: flex;

    &__input {
        width: 75px;
        height: 26px;
        margin-bottom: 10px;
    }

    &__wrapper {
        position: relative;
        margin-right: 11px;

        div {
            position: absolute;
            border: 1px solid;
            top: -18px;
            left: 50px;
            width: 175px;
            background-color: white;
            z-index: 5;
            font-size: 14px;
            padding: 3px;
            display: none;
        }
    }

    span {
        position: absolute;
        top: 29px;
        left: 60px;
        border: 1px solid;
        border-radius: 50%;
        display: block;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__column {
        flex: 1 1 100%
    }
}
span:hover + div {
    display: block;
}

.who_are {
    width: 100%;
    height: 33px;
}


.finish-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 26px;
}

.loading {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    button {
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 8px;
        right: 4px;
        cursor: pointer;
    }
}