<div *ngIf="!loading">
    <router-outlet></router-outlet>
</div>

<div class="loading" *ngIf="loading">
    <div class="loader">
        <span>З</span>
        <span>А</span>
        <span>Г</span>
        <span>Р</span>
        <span>У</span>
        <span>З</span>
        <span>К</span>
        <span>А</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
        
        <div class="covers">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
</div>

