<div class="loading" *ngIf="loading">
    <app-loader></app-loader>
</div>

<div class="begin-game" *ngIf="gameIsCan == false && finishText != '' ">
    <p>{{finishText}}</p>
</div>

<div class="begin-game" *ngIf="gameIsCan == false && finishText == ''">
    <p>Игры будут доступны, когда начнется конкурс. Он начнется уже совсем скоро!</p>
</div>

<div class="buttons" *ngIf="gameIsCan">
    
    <a routerLink="/game/clicker">
        <span class="wrapper">
            <span class="link">Кликер</span>
            <span class="link__info">Сыграно игр: {{getClickerLength() ?? 'Загрузка...'}} / 50</span>
            <span class="link__info">Заработано очков: {{getClickerBall() ?? 'Загрузка...'}}</span>
        </span>
    </a>    
    
    <a routerLink="/game/victory">
        <span class="wrapper">
            <span class="link">Викторина</span>
            <span class="link__info">Пройдено тестов: {{getVictoryLength() ?? 'Загрузка...'}} / 6</span>
            <span class="link__info">Заработано очков: {{getVictoryBall() ?? 'Загрузка...'}}</span>
        </span>
    </a>

</div>
